<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/main.css">
    <title>게시글 목록</title>
</head>
<body class="grey-bg">

    <%- include('nav.ejs', {isLogin: 로그인상태 || {}}) %>

    <a href="/write"><button type="button" class="btn btn-outline-success" style="display:inline-block; margin: 7px 10px;">게시물 작성</button></a>

    <div class="white-bg">
        <%for(let i = 0; i < 글목록.length; i++){%>
            <div class="list-box"> 
                <a href="/detail?id=<%= 글목록[i]._id %>"><h4><%= 글목록[i].title %></h4></a>
                <p>
                    <%= 글목록[i].content.substr(0, 30); %>
                    ...
                </p>
            </div>
        <%}%>
    </div>

    <!--페이지네이션 페이지바-->
    <div style="display:flex; justify-content:center; align-items:center;">
        <nav aria-label="pagination navigator">
            <ul class="pagination">
            <% if (Number(페이지) !== 1) { %>
                <li class="page-item"><a class="page-link" href="/list/<%= Number(페이지)-1 %>">Previous</a></li>
            <% } %>
            <li class="page-item"><a class="page-link"><%= 페이지 %></a></li>
            <% if (페이지*5 < 글수) { %>
                <li class="page-item" id="nextpage"><a class="page-link" href="/list/<%= Number(페이지)+1 %>">Next</a></li>
            <% } %>
            </ul>
        </nav>
    </div>
</body>
</html>